body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  #container {
    display: flex;
    height: 100%;
  }
  
  #colored-block {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: left;
    height: 1000px;
  }
  
  #content {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 20px;
  }
  
  section {
    margin: 20px;
  }
  
  h2 {
    color: #333;
  }
  
  ul {
    list-style-type: disc; /* disc - це крапочки, інші можливі значення - circle, square, none, decimal, upper-alpha, lower-alpha, upper-roman, lower-roman, etc. */
    padding: 100; /* Зазначте власний внутрішній відступ, якщо потрібно */
    margin: 0;
  }
  
  li {
    margin-bottom: 2px;
  }
  
  header{
    text-align: center;
    border: 2px solid #333; /* Товщина, тип та колір рамки */
    padding: 10px; /* Внутрішній відступ від рамки до тексту */
    margin: 10px; /* Зовнішній відступ навколо рамки */

  }


  

  #work{
    padding-left: 20px;

  }

  hr {
    border: 1px solid #333; /* Товщина, тип та колір лінії */
    margin: 20px 0; /* Внутрішній відступ від лінії */
  }


  .person {
    position: relative;
    top: 0px;
    right: 20px;
    bottom: 30px;
    left: 20px;
    width: 150px; /* Замініть на потрібний відсоток */
    height: 150px; /* Зберігає пропорції фото */
    
  }

  

 
  